@model UserManagementViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/js/userManagement.js"></script>


<div id="myDiv" class="row">
    
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <a id="button" href="/testing/index2" class="btn btn-primary col-md-12">pressMe</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {


    });
</script>
