@model SandboxCore.Models.AccountViewModels.UpdateProfileVM

<div class="container">
    <h1>My Profile</h1>

    <div class="row">
        <div id="UserImage">

        </div>
        <div class=" bs-component">
            <form class="form-horizontal" asp-route-returnurl="@ViewContext.HttpContext.Request.Query["returnUrl"]">
                <fieldset>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" asp-for="FirstName" autocomplete="off">
                            <span class="text-danger hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" asp-for="LastName" autocomplete="off">
                            <span class="text-danger hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email" asp-for="Email" autocomplete="off">
                            <span class="text-danger hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-lg-2 control-label">New Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputNewPassword" placeholder="Password" asp-for="NewPassword" autocomplete="off">
                            <span class="text-danger hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputConfirmPassword" autocomplete="off">
                            <span class="text-danger hidden"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/home/index" type="reset" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
</div>

@section scripts
{
    <environment names="Development">
        <script src="~/js/account/MyProfile.js" ></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/account/MyProfile.js.min" ></script>
    </environment>   
}
