.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-perspective: 100px;
  perspective: 1px;
  backface-visibility: hidden;
  perspective-origin: 50% 50%; }

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25vh 0; }

.parallax-layer-front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-top: 150px;
  margin-left: 400px; }

.parallax-layer-back {
  -webkit-transform: translateZ(-2px);
  transform: translateZ(-2px);
  margin-left: 100px; }
  .parallax-layer-back img {
    height: 1500px; }

