@{
    ViewData["Title"] = "Form Test";
}



@using (Html.BeginForm("myform", "testing", new { code = "" }))
{
    <input type="text" value="123" />
}


<form id="theId" asp-controller="testing" asp-action="myform" asp-route-id="" asp-route-code="">
    <input type="text" value="asdf" />
    
</form>

@{
    var someid = "asdf";
    string x = null;
    string baseRoute = Url.Action("myform", "testing", new { code = "" }).ToString();
    
}

<button data-id="@(x ?? "0")"></button>


