@{
    ViewData["Title"] = "Parallax Test";
}
@{
    Layout = "~/Views/Shared/_Layout_parallax.cshtml";
}
<div class="parallax">
    <div class="parallax-layer parallax-layer-back">
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Ajf8?ver=bf21&q=80" />
    </div>

    <div class="parallax-layer parallax-layer-front">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
    </div>
</div>


