@{
    ViewData["Title"] = "Promises Test";
}

<script src="~/js/Testing/looksPromising.js"></script>


<div class="face" data-face="red"></div>
<div class="face" data-face="green"></div>

<div class="yourface" data-face="red">face 1</div>
<div class="yourface" data-face="green">face 2</div>

<div class="row">
    <div class="col-xs-2"><button id="promise" class="btn btn-primary">Promise Test</button></div>

    <div class="col-xs-offset-1 col-xs-2"><button id="loop" class="btn btn-primary">Loop Fail</button></div>
</div>



