@Html.ValidationSummary()
<form action="@Url.Action("ChatRoom")" method="post">
    <input type="text" placeholder="Insert user name" name="userName" />
    <input type="submit" value="Eńter" />
</form>