@model  List<SandboxCore.Models.TestViewModel>

@{
    ViewData["Title"] = "Form Test";
}



@using (Html.BeginForm("myform", "testing", new { code = "" }))
{
    <input type="text" value="123" />
}


<form id="theId" asp-controller="testing" asp-action="myform" asp-route-id="" asp-route-code="">
    <input type="text" value="asdf" />
    
</form>

@{
    var someid = "asdf";
    string x = null;
    string baseRoute = Url.Action("myform", "testing", new { code = "" }).ToString();

}

@foreach (var t in Model)
{
    <form action="/stuff/test/@t.Id" method="post" enctype="multipart/form-data">
        <input type="number" value="@t.Id" />
        <input type="text" value="@t.Name"/>
        <input type="file" id="imageFiles" name="files" accept="image/jpeg, image/jpg" />
        <button class="btn btn-primary">Upload</button>
    </form>
}



@{ Html.BeginForm("getstuff", "Testing", FormMethod.Post);
    <input type="hidden" value="123" />
    <button id="submit" type="submit">Push Me</button>
}

    <a id="test" class="btn btn-success">Run Test</a>



<script>
    $(document).ready(function ()
    {
        $('#test').on('click', RunTest);
    });

    function RunTest()
    {
        var chars = ['a', 'b', 'c', 'd'];
        var myArr = [];
        for (var i = 0; i < 10; i++)
        {
            var obj = { num: i, char: chars[i % 4] };
            myArr.push(obj);

            if (i == 5)
                obj = {};
        }
        console.log(myArr);

        
    }


</script>

<div class="hidden">
    <button data-id="@(x ?? "0")"></button>

    <div class="face" data-face="red"></div>
    <div class="face" data-face="green"></div>

    <div class="yourface" data-face="red">face 1</div>
    <div class="yourface" data-face="green">face 2</div>

    <table id="myTable" class="hidden">
        <tr id="tr1" name="a"><td>1</td></tr>
        <tr id="tr2"><td>2</td></tr>
        <tr id="tr3"><td>3</td></tr>
        <tr id="tr4"><td name="a">4</td></tr>
        <tr id="tr5"><td>5</td></tr>
        <tr id="tr6"><td>6</td></tr>
        <tr id="tr7"><td name="a">7</td></tr>
        <tr id="tr8"><td>8</td></tr>
    </table>

    <div class="row hidden">
        @for (var i = 1; i <= 4; i++)
    {
            <div class="col-xs-12">
                @for (var j = 1; j <= 13; j++)
            {
                    <div class=" c c-@i-@j"></div>
            }
            </div>
    }


        <div class=" c "></div>

        <div class=" c selected"></div>
    </div>


    @{
        var item = new { LinkToPage = "/Events/index" };
    }

    <a title="" class="videocarouselText" href=@item.LinkToPage.ToString()>
        <div class="textMobileCut" style="text-align:center;">
            asdf
        </div>
    </a>

    <br />
    <button id="ajaxLoop" class="btn btn-primary">Infinite Loop</button>
    <button id="runTest" class="btn btn-primary">test</button>
</div>

<script>
    $(document).ready(function()
    {
        var html = "";
        $('.yourface').each(function ()
        {
            $('.face[data-face=' + $(this).data('face') + ']').html($(this).html());

        });
        console.log(html);

        $('#ajaxLoop').on('click', function ()
        {
            ajaxLoop(0);
        });

        $('#runTest').on('click', function ()
        {
            test();
        });

        $('#submit').on('click', function (e)
        {
            e.preventDefault();


        });
    });

    function on(elem, type, fn)
    {
        console.log('on');
    }

    function ajaxLoop(i)
    {
        if(i < 20)
            $.ajax(
            {
                url: "/testing/forceWait/15",
                success: function (result)
                {
                    ajaxLoop(++i);
                },
                error: function (e)
                {
                
                }
            });

    }

    function test()
    {
        //for (var i = 0; i < 5; i++)
        //    console.log(i);

        //console.log(i);
        //console.log('-----------------------');
        //for (let j = 0; j < 5; j++)
        //    console.log(j);

        //console.log(j);
        //console.log('-----------------------');
        var outerVar = 'outerVar';
        let outerLet = 'outerLet';
        if (true)
        {
            var innerVar = 'innerVar';
            let innerLet = 'innerLet';
            console.log('inside if');
            console.log(outerVar);
            console.log(outerLet);
            console.log(innerVar);
            console.log(innerLet);
        }
        console.log('after if');
        console.log(outerVar);
        console.log(outerLet);
        console.log(innerVar);
        console.log(innerLet);
    }

    function PostSubmit()
    {


    }
</script>
