@using SandboxCore.Models;
@{
    ViewData["Title"] = "Test";
}




<div id="container">
    @Html.ActionLink("asdf1", "asdf2", new { }, new { @class = "buildButton" })
</div>

<script>
    
    $(document).ready(function () 
    {
        
        $(".buildButton").on("click", function (e) 
        {
            if (ConfirmProjectSubmit())
            {
                alert('confirm');

            }
            else
            {
                e.preventDefault();
                alert('cancel');
            }
        });
    });
    function ConfirmProjectSubmit()
    {
        // some confirm
        return false;
    }
    
</script>
